body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: #f0f0f0; 
    color: #1a1a1a; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1a1a1a; 
    color: #e0e0e0;
    width: 100%;
    position: fixed;
    
}

.barra ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    position: relative;
    right: 30px;
}

.barra a {
    text-decoration: none;
    color: #e0e0e0; 
    font-weight: bold;
}

main {
    padding-top: 80px;
}

.Consulta {
    max-width: 500px;
    margin: 40px 10px;
    padding: 20px;
    background-color: #ffffff;
    color: #1a1a1a;
    border-radius: 10px;
    
    
}

.Consulta h1 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 24px;
}

.Consulta form {
    display: flex;
    flex-direction: column;
}



.Consulta textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
}

.Consulta button {
    padding: 10px;
    background-color: #1a1a1a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}



